# Environments
.env
.venv
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Logs and databases
*.log
*.sqlite3

# IDEs
.vscode/
.idea/

# Output graphs and temp files
# (Bỏ comment bên dưới nếu bạn không muốn push file kết quả lên git)
# *.dot
# *.png
# *.svg
# beam_strategies.json
